.searchbar::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.searchbar:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.searchbar::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.searchbar::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.acomodation_chosen .detail_header h3 {
  font-family: 'Roboto', sans-serif;
}

.acomodation_chosen .detail_information p {
  font-family: 'Roboto', sans-serif;
}

.accomodation_details p {
  font-family: 'Roboto', sans-serif;
}

.accomodation_details h3 {
  font-family: 'Roboto', sans-serif;
}

.accomodation_deatils2 p {
  font-family: 'Roboto', sans-serif;
}

.detail_container .detail_info label {
  font-family: 'Roboto', sans-serif;
}

.detail_container .detail_info1 label {
  font-family: 'Roboto', sans-serif;
}

.detail_container .detail_info2 label {
  font-family: 'Roboto', sans-serif;
}

.detail_container .detail_heading {
  font-family: 'Roboto', sans-serif;
}

.detail_container .footer_links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.nav_bar a {
  color: #575555;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.nav p {
  color: white;
  font-size: 30px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 420px) {
  .nav p {
    margin-top: 100px;
    font-size: 40px;
  }
}

.nav_links {
  padding-left: 900px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

@media (max-width: 420px) {
  .nav_links {
    display: none;
  }
}

.screen_link p {
  color: white;
  background-color: #9abc38;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 5px;
  margin: 60px 150px 0px 150px;
  padding: 5px 0px 5px 0px;
}

@media (max-width: 420px) {
  .screen_link p {
    margin: 60px 100px 0px 100px;
  }
}

.screen_link p:hover {
  background-color: #71882d;
}

.screen_link {
  text-decoration: none;
}

.screen_change {
  text-decoration: none;
}

.screen_change p {
  color: white;
  background-color: #9abc38;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0px 5px 0px;
}

.screen_change p:hover {
  background-color: #71882d;
}

.category_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .category_list {
    display: none;
  }
}

.category_item {
  margin: 20px 60px 20px 60px;
}

.category_item p:hover {
  cursor: pointer;
  border-color: #9abc38;
}

.category_item p {
  border-radius: 20px;
  border: solid;
  padding: 10px 30px;
  font-family: 'Roboto', sans-serif;
  color: #4e4d4d;
}

.rating img {
  width: 40px;
  height: 45px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rating p {
  font-family: 'Roboto', sans-serif;
}

.rating_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating_header h3 {
  font-family: 'Roboto', sans-serif;
}

.error {
  color: #921b1b;
}

.error label {
  font-family: 'Roboto', sans-serif;
}

.detail_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px 800px 0px 150px;
  padding: 0px 30px 30px 30px;
  background-color: white;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@media (max-width: 420px) {
  .detail_container {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 20px 0px 0px 0px;
    background-color: rgba(255, 255, 255, 0.699);
  }
}

input[type=number],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: none;
  outline: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 420px) {
  input[type=text],
  select,
  textarea {
    background-color: white;
  }
}

.detail_info {
  margin-top: 20px;
}

.detail_info1 {
  margin-top: 20px;
}

.detail_info2 {
  margin-top: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 420px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav a {
  color: white;
  font-size: 20px;
  margin: 0px;
  text-decoration: none;
  padding: 0px 30px;
}

.nav a:hover {
  color: #3d3c3c;
  cursor: pointer;
}

#home {
  background-image: url("../../image/home_page.jpeg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 420px) {
  #home {
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
}

.accomodation_item img {
  height: 300px;
  -webkit-box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

@media (max-width: 420px) {
  .accomodation_item img {
    height: 200px;
  }
}

@media (max-width: 420px) {
  .accomodation_list {
    margin-top: 50px;
  }
}

.accomodation_item {
  margin: 50px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
}

@media (max-width: 420px) {
  .accomodation_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
    padding: 0px;
    text-align: center;
  }
}

.accomodation_item h3 p {
  padding-left: 50px;
}

@media (max-width: 420px) {
  .accomodation_item h3 p {
    padding: 0px;
  }
}

.accomodation_deatils2 {
  padding-left: 250px;
  padding-top: 50px;
}

@media (max-width: 420px) {
  .accomodation_deatils2 {
    padding: 0px;
  }
}

.accomodation_details {
  padding-left: 100px;
  padding-top: 50px;
}

@media (max-width: 420px) {
  .accomodation_details {
    padding: 0px;
  }
}

@media (max-width: 420px) {
  .accomodation_view {
    margin-left: 80px;
    margin-right: 80px;
  }
}

hr {
  margin: 8px 30px 8px 30px;
}

@media (max-width: 420px) {
  hr {
    display: none;
  }
}

.nav_bar {
  background-color: #9abc38;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav_bar a:hover {
  cursor: pointer;
  color: white;
}

.nav_bar_links {
  padding-left: 580px;
}

@media (max-width: 420px) {
  .nav_bar_links {
    display: none;
  }
}

.nav_bar_links a {
  padding: 0px 20px;
}

.searchbar {
  border-radius: 20px;
  border: none;
  padding: 8px 250px 8px 8px;
  outline: none;
}

@media (max-width: 420px) {
  .searchbar {
    display: none;
  }
}

.category_search {
  padding-left: 100px;
}

@media (max-width: 420px) {
  .category_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px;
  }
}

.search_mobile {
  border-radius: 20px;
  border: none;
  padding: 8px 250px 8px 8px;
  outline: none;
  background-color: #d3cdcd;
}

@media (max-width: 1440px) {
  .search_mobile {
    display: none;
  }
}

@media (max-width: 420px) {
  .search_mobile {
    display: block;
    padding: 8px 150px 8px 8px;
    margin: 20px 0px 20px 0px;
  }
}

.detail_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail_images img {
  width: 300px;
}

.detail_header {
  margin: 30px 0px 30px 50px;
}

.detail_header h3 {
  color: #4d4c4c;
  font-size: 30px;
}

.detail_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_footer {
  background-color: #9abc38;
}

@media (max-width: 1440px) {
  .nav_footer {
    display: none;
  }
}

@media (max-width: 420px) {
  .nav_footer {
    display: block;
    padding-bottom: 23px;
  }
}

.footer_links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.detail_header {
  margin: 30px 0px 30px 50px;
}

.detail_header h3 {
  color: #4d4c4c;
  font-size: 30px;
}

.detail_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_accomodation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.input_accomodation p {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 25px;
}

#input_msg {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-right: 5px;
}

#input_msg1 {
  font-family: 'Roboto', sans-serif;
}

#input_msg2 {
  font-family: 'Roboto', sans-serif;
}

.input_deatils p {
  font-family: 'Roboto', sans-serif;
}

.input_deatils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.input_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.input_edit a {
  font-family: 'Roboto', sans-serif;
  color: #666666;
}

.input_edit a:hover {
  color: black;
  cursor: pointer;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_items img {
  width: 100px;
}

.menu_items p {
  font-family: 'Roboto', sans-serif;
}

.menu_header h3 {
  font-family: 'Roboto', sans-serif;
}

.menu_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=app.css.map */