.detail_images {
    display: flex;
    margin-top: 50px;
    @include mobile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
   
}

.detail_img img {
width: 715px;
@include mobile {
    width: 365px;
}
}

.detail_text {
    margin-top: 40px;
    margin-right: 200px;
    margin-left: 30px;
    @include mobile {
        margin: 20px 20px 10px 20px;
    }

}

.detail_information {
    display: flex;
    margin-bottom: 50px;
    @include mobile {
        display: flex;
        flex-direction: column;
        
    }
}

.price {
    margin-top: 40px;
    margin-right: 100px;
    border-style: solid;
    padding: 0px 50px 0px 50px;
    @include mobile {
        margin: 40px 20px 10px 20px;
    }

}

.menu_header {
    display: flex;
    justify-content: center;
}

.rating_header {
    display: flex;
    justify-content: center;
}

.rating_info img {
    width: 50px; 
    margin-left: 50px;
    @include mobile {
        margin-left: 30px;
    }
   
}
.rating {
    display: flex;
    @include mobile {
        display: flex;
        justify-content: center;
    }
}

.menu_items img{
    width: 50px;
}

.rating_info {
    display: flex;
    @include mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}

.menu_info {
    display: flex;
    @include mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
}