.nav {
    display: flex;

    @include mobile {
        display: flex;
        justify-content: center;
    }
}





.nav a {
    color: white;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
    padding: 0px 30px;
}

.nav a:hover {
    color: rgb(61, 60, 60);
    cursor: pointer;
}

