.nav {
    display: flex;

    @include mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 20px;
    }
}





.nav a {
    color: white;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
    padding: 0px 30px;
   
}

.nav a:hover {
    color: rgb(61, 60, 60);
    cursor: pointer;
}

.logo img {
    width: 50px;
 
}

.logo {
    margin: 20px 0px 0px 20px;
    @include mobile {
        margin: 0px 0px 0px 150px;
    }
}