.menu_items{
    display: flex;
    
}

.menu_items img {
    width: 100px;
}

.menu_items p {
    font-family: 'Roboto', sans-serif;
}

.menu_header h3 {
    font-family: 'Roboto', sans-serif;
}

.menu_header {
    display: flex;
    justify-content: center;
}

