.acomodation_chosen{

    .detail_header h3 {
        font-family: 'Roboto', sans-serif;
    }
    
    .detail_info p {
        font-family: 'Roboto', sans-serif;
    }
    .price p {
        font-family: 'Roboto', sans-serif;
    }

    .acomodation_chosen a {
        font-family: 'Roboto', sans-serif;
    }
}



    .accomodation_details p {
        font-family: 'Roboto', sans-serif;
    }
    
    .accomodation_details h3 {
        font-family: 'Roboto', sans-serif;
    }

    .accomodation_deatils2 p {
        font-family: 'Roboto', sans-serif;
    }



.detail_container {
    .detail_info label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_info1 label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_info2 label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_heading {
        font-family: 'Roboto', sans-serif;
      }

      .footer_links a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
}





.nav_bar a {
        color: rgb(87, 85, 85);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
   


.nav p {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin: 25px 0px 0px 10px;
    font-family: 'Roboto', sans-serif;

    @include mobile {
        margin: 0px 0px 0px 90px;
        font-size: 40px;
    }
}


.nav_links {
    padding-left: 800px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    @include mobile {
        display: none;
    }
}



