.acomodation_chosen{

    .detail_header h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 35px;
        color: rgb(97, 95, 95);
        margin-left: 30px;
        @include mobile {
            text-align: center;
        }
    }
    
    .detail_information p {
        font-family: 'Roboto', sans-serif;
        @include mobile {
            text-align: center;
        }
    }
    .price p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
    }

   
}

.detail_text p {
    font-family: 'Roboto', sans-serif;
}

.book p {
    font-family: 'Roboto', sans-serif;
   color: white;
    background-color:  #9abc38;
    padding: 5px 24px;
    border-radius:5px ; 
    margin-top: 100px;
}

.review_btn p {
    font-family: 'Roboto', sans-serif;
   color: white;
    background-color:  #9abc38;
    padding: 5px 24px;
    border-radius:5px ; 
    text-align: center;
    margin: 0px 400px 100px 700px; 
    @include mobile {
        margin: 20px 30px 20px 30px;  
    }
}

.review_btn {
    text-decoration: none;
}

.book p:hover {
    background-color: #71882d;
    }

    .review_btn p:hover {
background-color: #71882d;
}

.book{
    text-decoration: none;
}


.rating_header h3 {
    font-family: 'Roboto', sans-serif; 
}

.rating_info p {
    font-family: 'Roboto', sans-serif; 
    
    @include mobile {
        margin-left: 30px;
    }
}

.menu_header h3 {
    font-family: 'Roboto', sans-serif;  
}

.menu_items p {
    font-family: 'Roboto', sans-serif;   
    margin-left: 50px;
    @include mobile {
        margin-left: 30px;
    }
}



    .accomodation_details p {
        font-family: 'Roboto', sans-serif;
    }
    
    .accomodation_details h3 {
        font-family: 'Roboto', sans-serif;
    }

    .accomodation_deatils2 p {
        font-family: 'Roboto', sans-serif;
    }



.detail_container {
    .detail_info label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_info1 label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_info2 label {
        font-family: 'Roboto', sans-serif;
      }
      
      .detail_heading {
        font-family: 'Roboto', sans-serif;
      }

      .footer_links a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
}





.nav_bar a {
        color: rgb(87, 85, 85);
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
   


.nav p {
    color: white;
    font-size: 30px;
    margin: 0px;
    margin: 25px 0px 0px 10px;
    font-family: 'Roboto', sans-serif;

    @include mobile {
        margin: 0px 0px 0px 90px;
        font-size: 40px;
    }
}


.nav_links {
    padding-left: 800px;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    @include mobile {
        display: none;
    }
}



